<h1>THIS IS THE SECRET PAGE</h1>

<p>This is it. The page. The one and only.</p>

<img src="https://i.pinimg.com/originals/7f/a8/e3/7fa8e35d83bf0da6daee2086529d4550.jpg" alt="Chicken cat hybrid">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Log In</a></li>
<li><a href="/logout">Log Out!!</a></li>